{% extends 'layout.html' %}

{% block content %}
<form method="POST" action="" class="post-form" enctype="multipart/form-data">
  {% csrf_token %}
  {{ form.as_p }}

  <p>
      <button type="submit">저장</button>
  </p>

</form>

{% endblock %}

<!--
form.as_p  : form 은 create 뷰 함수가 form 폼 객체를 form이라는 템플릿 변수로 지정해 전달한것이다.
이 객체의 인스턴스 매서드인 as_p()를 호출하면 각 폼 필드를 html태그인 <p></p>로 감싸서 출력한다.

csrf_token은 CSRF토큰을 만드는 템플릿 태크이다.DJANGO로 만든 각 웹페이지에 접속시, 각 세션을 기반으로  CSRF토큰을 만들며, 이 토큰이 조작되거나
존재하지 않은시, Form 데이터를 django로 동작하는 웹 애플리케이션 서버에 보내지 못한다.
보안상 HTML 폼 영역에 CSR토큰을 생성하도록 집허넣는것을 요망
-->
